<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <!--{if $lang === 0}-->
    <title>Hotsweek Report - Week Number </title>
    <!--{else}-->
    <title>背锅周报 -  周</title>
    <!--{/if}-->
    <script>
        var playerID = 11519;
        var weekNumber = 2531;
        var lang = 1;
    </script>
    <script src="../../../../public/scripts/hotsweek/js/main.js"></script>
    <script src="../../../../public/scripts/hotsweek/js/presetsNo5.js"></script>
    <script src="../../../../public/scripts/hotsweek/js/presets.js"></script>
</head>
<body>

</body>
</html>